<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <!--    <link href="../styles/main.css" rel="stylesheet" />
    <link href="../styles/sec.css" rel="stylesheet" />
    <link href="../styles/third.css" rel="stylesheet" /> -->
    <title>My site</title>
  </head>

  <body>
    <!--the header section-->
    <div class="header">
      <div class="nav-bar">
        <div class="links">
          <ul>
            <li>header</li>
            <li>about us</li>
            <li>image</li>
            <li>contacts</li>
          </ul>
        </div>

        <div class="social">
          <ul>
            <li>instagram</li>
            <li>facebook</li>
            <li>twitter</li>
            <li>whatsapp</li>
          </ul>
        </div>
      </div>



    <!--the about section-->

    <div class="about">
     

      <div class="card">
        <dev class="left">
          <img class="abt" />
        </dev>

        <dev class="right">
          <figure class="city" onsubmit="return Client.handleSubmit(event)">
            <h1 class="title">Travel planner</h1>
            <p>Please enter the city's name here </p>
            <input
              id="name"
              type="text"
              name="input"
              value=""
             
              placeholder="Enter city name here"
            />
            <input
              type="submit"
              class="button"
              name=""
              value="submit"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)"
            />
            

            <form class="date" onsubmit="return Client.getDay()">
              <p>Please enter Your travel date </p>
              <input
                class="name"
                id="countDate"
                type="text"
                name="input"
                value=""
               
                placeholder="Ex Jul 25, 2021"
              />
              <input
                type="submit"
                class="button"
                name=""
                value="submit"
                onclick="return Client.getDay()"
                onsubmit="return Client.getDay()"
              /> 

              <div class="output">
                <h2>The expected weather :</h2>
              </div>
       
  </body>
</html>
