<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <!--    <link href="../styles/main.css" rel="stylesheet" />
    <link href="../styles/sec.css" rel="stylesheet" />
    <link href="../styles/third.css" rel="stylesheet" /> -->
    <title>My site</title>
  </head>

  <body>
    <!--the header section-->
    <div class="header">
      <div class="nav-bar">
        <div class="links">
          <ul>
            <li>header</li>
            <li>about us</li>
            <li>image</li>
            <li>contacts</li>
          </ul>
        </div>

        <div class="social">
          <ul>
            <li>instagram</li>
            <li>facebook</li>
            <li>twitter</li>
            <li>whatsapp</li>
          </ul>
        </div>
      </div>



    <!--the about section-->

    <div class="about">
      <h1 class="title">Travel planner</h1>

      <div class="card">
        <dev class="left">
       <!--    <img class="abt" src="../images/sponge.jpg" alt="spongebob" /> -->
        </dev>

        <dev class="right">
          <form class="city" onsubmit="return Client.handleSubmit(event)">
            <p>Please enter the city's name here </p>
            <input
              class="name"
              type="text"
              name="input"
              value=""
             
              placeholder="Enter city name here"
            />
            <input
              type="submit"
              class="button"
              name=""
              value="submit"
              onclick="return Client.getDay()"
              onsubmit="return Client.getDay()"
            />
            

            <form class="date" onsubmit="return Client.getDay()">
              <p>Please enter Your travel date </p>
              <input
                class="name"
                id="countDate"
                type="text"
                name="input"
                value=""
               
                placeholder="Ex Jul 25, 2021"
              />
              <input
                type="submit"
                class="button"
                name=""
                value="submit"
                onclick="return Client.getDay()"
                onsubmit="return Client.getDay()"
              />
          <!-- <p>
            <label for="date">Enter date Here separated by / </label>
          </p>

          <p>
            <textarea id="travelDate" name="date" rows="3" cols="100" >
                </textarea>
                <input type="submit" value="Submit">
          </p> -->
        </dev>
      </div>
    </div>

    <!-- the market section -->
    <!-- <div class="market">
        <h2>Market</h2>

        <div class="figs">
            <figure>
                <img src="./pic/spongey.jpg" />
                <figcaption>Spongebob</figcaption>
            </figure>
            <figure>
                <img src="./pic/spongey.jpg" />
                <figcaption>Spongebob</figcaption>
            </figure>
            <figure>
                <img src="./pic/spongey.jpg" />
                <figcaption>Spongebob</figcaption>
            </figure>
            <figure>
                <img src="./pic/spongey.jpg" />
                <figcaption>Spongebob</figcaption>
            </figure>
        </div>

        <button class="market-button">click here</button>
    </div>

     whhat makes us special? 
    <div class="special">
        <h2>What makes us special?</h2>
        <div class="qualities">
            <figure>
                <figcaption>Spongebob</figcaption>
            </figure>

            <figure>
                <figcaption>Spongebob</figcaption>
            </figure>

            <figure>
                <figcaption>Spongebob</figcaption>
            </figure>

            <figure>
                <figcaption>Spongebob</figcaption>
            </figure>
        </div>
    </div> -->
  </body>
</html>
