 * {
  box-sizing: content-box;
}

body,
html {
  margin: 0;
  padding: 0;
   background-color: #e9f2fa; 
  
} 

/* header section */

 .header {
  background-color: #c8d8e4;
  height: 9vh;
  display: flex;
  flex-direction: column;
 
}

.header .nav-bar {
  height: 30%;
  display: flex;
}

.header .links {
  width: 60%;
}

.header .links ul {
  list-style-type: none;
}

.header .links li {
  display: inline-block;
  margin-right: 42px;
  font-size: 20px;
  font-family: cursive;
  color: #2b6777;
}

.header .links li:first-child {
  font-size: 24px;
}

.header .social {
  width: 40%;
}

.header .social ul {
  list-style-type: none;
}

.header .social li {
  display: inline-block;
  color: #2b6777;
  font-family: cursive;
  font-size: 18px;
  margin-right: 32px;
}
