* {
  font-family: cursive;
}

#entered-data {
  margin-top: 70vw;
  padding-right: 16px;
}

.output {
  background-color: #e9f2fa;
  margin-top: 6vw;
  margin-left: 3vw;
  width: 96vw;
}
#state {
  width: 900px;
  height: 500px;
}

#countDown h1 {
  text-align: center;
}

#countDown .cD,
.letters {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#countDown .cD li {
  font-size: 70px;
}

.letters {
  font-size: 40px;
}

#countDown .cD li {
  background-color: black;
  padding: 5px;
  color: white;
  border: 3px double;
}

.letters {
  margin-bottom: 0;
}

#weather {
  margin-top: 45px;
}


@media only screen and (max-width: 600px) {
 #state {
   width: 71vw;
 }

 #entered-data {
  margin-top: 354vw
 }
 .flight-data {
   height: 176vw;
 }
 .content {
   height: 310vw;
 }
.header {
  height: 18vh;
}
}